$navcolor:black;
$marp:4px;
$marg:10px;
/*Navigation Tab*/
.navbar {
    background-color:navcolor;
    
}

.myLogo{
    width:13%;
    margin-left: 1rem;
    margin-bottom: marp;
    padding-left: 5px;
    padding-top: marp;
    padding-bottom: -3px;
}
.nav{
    margin-right: marg;
    margin-top: -marg;
    margin-bottom: -6px;
}

nav li{
    margin-right: 6px;
}

.nav-link{
    color:#35FFFF;
    padding: 1.1rem;
    border: none;
    transition: 0.3s;
    font-family: Helvetica;
    font-weight: bold;
}

.nav-link:hover {
    background-color: rgb(31, 177, 187);
    color:rgb(203, 239, 250);
}
